# API Base URL for backend services
NEXT_PUBLIC_BACK_API_URL=http://your-backend-api-url:port

# API Base URL for Fashion Search services
NEXT_PUBLIC_FASHION_SEARCH_API=http://your-fashion-search-api-url:port
